@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vermilion: #FF462D;
  --deep_teal: #072F25;
  --welcome_yellow: #FF9924;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-vermilion: var(--vermilion);
  --color-deep_teal: var(--deep_teal);
  --color-welcome_yellow: var(--welcome_yellow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
