@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vermilion: #ff462d;
  --dark_vermilion: #eb1700;
  --deep_teal: #072F25;
  --light_teal: #00793A;
  --welcome_yellow: #ff9924;
  --cream: #F0E9DA;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-vermilion: var(--vermilion);
  --color-deep_teal: var(--deep_teal);
  --color-light_teal: var(--light_teal);
  --color-welcome_yellow: var(--welcome_yellow);
  --color-dark_vermilion: var(--dark_vermilion);
  --color-cream: var(--cream);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #0a0a0a;
}

.text-outline-vermilion {
  color: transparent;
  -webkit-text-stroke: 1px #eb1700;
}
.marquee {
  overflow: hidden;
}

.marquee-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee-scroll 60s linear infinite;
}

.marquee-track-no-gap {
  display: flex;
  width: max-content;
  animation: marquee-scroll 60s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  
  }
  100% {
    opacity: 0;
  
  }
}

.poster-enter-left {
  animation: slideInFromLeft 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  z-index: 10;
}

.poster-enter-right {
  animation: slideInFromRight 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  z-index: 10;
}

.poster-exit {
  animation: fadeOut 2s ease-out forwards;
  z-index: 1;
}

@layer utilities {
  .bg-outline-text {
    position: absolute;
    top: 55%;
    left: -15%;
    width: 120%;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.3);
    transform: rotate(-20deg);
  }
}

.bg-outline-text {
  letter-spacing: 0.15em;
}

@media (max-width: 768px) {
  .bg-outline-text {
    font-size: 4rem;
    top: 40%;
  }
}
